/*
    Global settings defination for am project only
*/
// global font size
$global-font-size: 12px;
$secondary-font-size: 14px;

//global min screen width definitions
$screen-lg: "screen and (min-width: 64.063em)";
$screen-md:"screen and (min-width: 40.063em ) and (max-width: 64.062em)";
$screen-sm:"screen and (max-width:40.062em)";


/* 1. Colors
   ========================================================================== */

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;


$primary-text-color: white;

// 2. onebutton (checkbox)
$am-onebutton-selected:$secondary-color;
$am-onebutton-selectedtext: white;

//3. input switch
$am-inputswitch-on-bgcolor:$secondary-color;
$am-inputswitch-on-txtcolor:white;

// 4. Dot select one menu
$am-selectonemenu-onselectbgcolor:$secondary-color;

// 5. am login form
$am-loginform-padding: 10px;
$am-loginform-width: 30%;
$am-loginform-margin: 0 auto;
$am-loginform-submitwidth: 100%;

//6. am navbar
$am-navbar-bgcolor: $primary-color-dark;
$am-navbar-height: 110px;
$am-navbar-logo-height: 90px;
$am-navbar-div-padding: 12px 5px 5px 5px;
$am-navbar-info-basefontsize: 14px;