@import "../am-base/am-config";

.am-wizard {
    .ui-wizard-step-titles {
        margin-bottom: 5px;
        
        .ui-state-highlight {
            color:white !important;
            background: #26A69A;
        }
    }
    
    .editPanel .am-panel-content {
        padding:15px;
    }
    
    .ui-wizard-step-titles  .ui-wizard-step-title {
        cursor: default !important;
        color:#c7c4c4;
        font-size: $global-font-size !important;
        border-radius: 0px;
        margin-right: 5px;
        text-shadow: none;
    }
    
    .ui-wizard-nav-next, .ui-wizard-nav-back {
        font-size: 15px !important;
        background: #26A69A !important;
        text-shadow: none !important;
        color: white !important;
    }
    
}

.ui-datepicker {
       z-index: 2000 !important;
}