@import "../am-base/am-config";


.form718{
    /*background-color:red;*/
}
.panel718{
    /*background-color: yellow;*/
    margin:auto;  //center aligns the element
    position: relative;
}
.panelGrid718{
    /*background-color: pink;*/
    margin:auto;  //center aligns the element
}
.empty718{
    margin:auto;
    /*background-color: purple;*/
}
