@import "../am-base/am-config";
#table{
    .id_header{
        width:3.5em;
    }
    .button_header{
        width:9em;
    }
    .application_header{
        width:8.5em;
    }
    
}


